<div class="grid-noGutter">
  <div class="col-12">
      <h1 class="flex-center">Films</h1>
  </div>

  <div class="col-12 flex-right">
    <button class="display-inline margin-r20 red-color" color='warn' mat-raised-button (click)="deleteAll()">Delete All</button>
  </div>
</div>

<form [formGroup]="filmGroup">
  <div class="margin-20">
    <div class="grid-noBottom">
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label>Name of the film</mat-label>
          <input matInput class="display-inline" formControlName="fname"
          placeholder="Ex. The Hobbit" type="text" maxlength="208">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-error *ngIf="filmGroup.get('fname')?.hasError('required') && filmGroup.get('fname')?.touched">
          Please, type the name of the film.
        </mat-error>
      </div>
      <br>

      <div class="col-4">
        <mat-form-field class="full-width">
          <mat-label>Hours</mat-label>
          <input matInput formControlName="fhours" placeholder="Ex. 2" type="number" min="0" max="23">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <mat-label>Minutes</mat-label>
            <input matInput formControlName="fminutes" placeholder="Ex. 30" type="number" min="0" max="59">
        </mat-form-field>
      </div>
      <div class="col-4">
        <button mat-raised-button class="full-width inherit-height" color="primary"
        [disabled]="filmGroup.invalid" (click)="addFilm()">Add</button>
      </div>
      
      <div class="col-4">
        <mat-error *ngIf="filmGroup.get('fhours')?.hasError('required') && filmGroup.get('fhours')?.touched">
          No letters nor empty!
        </mat-error>
        <mat-error *ngIf="filmGroup.get('fhours')?.hasError('min') && filmGroup.get('fhours')?.touched">
          Min number is 0!
        </mat-error>
        <mat-error *ngIf="filmGroup.get('fhours')?.hasError('max') && filmGroup.get('fhours')?.touched">
          Max number is 23!
        </mat-error>
      </div>
      <div class="col-4">
        <mat-error *ngIf="filmGroup.get('fminutes')?.hasError('required') && filmGroup.get('fminutes')?.touched">
          No letters nor empty!
        </mat-error>
        <mat-error *ngIf="filmGroup.get('fminutes')?.hasError('min') && filmGroup.get('fminutes')?.touched">
          Min number is 0!
        </mat-error>
        <mat-error *ngIf="filmGroup.get('fminutes')?.hasError('max') && filmGroup.get('fminutes')?.touched">
          Max number is 59!
        </mat-error>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</form>

<mat-card class="margin-20">
  <div class="grid-noGutter">
    <div class="col-12 table-responsive">
      <table mat-table [dataSource]="dataSourceFilms" class="mat-elevation-z3">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <mat-icon>movie</mat-icon> Name  </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress" class="flex-center">
          <th mat-header-cell *matHeaderCellDef> <mat-icon>hourglass_full</mat-icon> Spent  </th>
          <td mat-cell *matCellDef="let element"> 
            <button class="action-button" mat-raised-button 
            color="primary" (click)="recordProgress(element)">
              {{element.percent}}%
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Watched Column -->
        <ng-container matColumnDef="watched">
          <th mat-header-cell *matHeaderCellDef> <mat-icon>check</mat-icon> </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox #checkbox name="checkbox" (change)="updateFilm(element.name, checkbox.checked)"
            [checked]="element.watched" color="warn"
            aria-label="checkbox"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> <mat-icon>delete</mat-icon> </th>
          <td mat-cell *matCellDef="let element"> 
            <button class="action-button" aria-label="delete" mat-mini-fab (click)="deleteOne(element.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-card>